@{
    ViewBag.Title = "DeleteAll";
}
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Content("~/Tareas/DeleteAll2")",
            //data: formulario,
            success: function (data) {
                console.log(data);
            }
        });
    });


</script>
<h2>Deleted All</h2>
@Html.ActionLink("Index", "Index")
